$dark: #040D12;
$light: #FFFFFF;

body {
    color: $light;
    background-color: $dark;
    font-family: "Open Sans", sans-serif;
}
#topnav h1 {
    margin-bottom: 0;
}
#topnav h2 {
    margin-top: 0;
}