<!doctype html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-R1TFN37KEJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-R1TFN37KEJ');
    </script>
    <meta charset="utf-8">
    <title>{{ page.title }} - Richard James</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    {% include navbar.html %}
    <div class="container">
        <div id="content">
            {{ content }}
        </div>
    </div>
    {% include footer.html %}
    <script src="/assets/js/bootstrap-5-0-2/bootstrap.min.js"></script>
</body>

</html>